.entry {
    /*margin-bottom: 2%;*/
}

.dragged {
    color: red;
}

.edit-entry-form {
    display: inline-block;
}

.edit-entry-input {
    overflow: hidden;
}

.oneLiner {
    display: inline-block !important;
    width: 100%;
}

.icon-remove-entry {
    color: black;
}

.icon-remove-entry:hover {
    color: red;
}

.entry-text {
    margin-left: 1%;
    margin-right: 1%;
}