.entry {
    margin-bottom: 2%;
}

.dragged {
    color: red;
}

.edit-entry-form {
    display: inline-block;
}

.oneLiner {
    display: inline-block;
    width: 100%;
}

.fa-trash-alt {
    color: black;
}

.fa-trash-alt:hover {
    color: red;
}

.entry-text {
    margin-left: 1%;
    margin-right: 1%;
}