.dragged {
    color: red;
}

.edit-entry-form {
    display: inline-block;
}

.edit-entry-input {
    overflow: hidden;
    margin-bottom: 0px !important;
}

.oneLiner {
    display: inline-block !important;
    width: 100%;
}

.icon-remove-entry {
    color: black;
}

.icon-remove-entry:hover {
    color: red;
}

.entry-text {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.entry-no-edit {
    display: inline-block;
    padding: 0.4em;
    margin: 1px;
}